[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/sdl
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/sdl_ttf
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/sdl_image
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
